streamlit
boto3
python-dotenv

langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-aws
langchain-astradb

duckduckgo-search
unstructured
youtube-transcript-api
pytube

pypdf





